/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(115rem); }
  50% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    body {
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 1rem; } }

::selection {
  background-color: #319966;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  font-weight: 400;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background-color: #319966;
  z-index: 1;
  position: relative;
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 40% 100%);
  padding: 0.5rem 0rem 0.5rem 50%;
  margin: 1rem 0 3rem 5rem;
  text-align: left; }

.heading-secondary {
  font-weight: 400;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background-color: #319966;
  z-index: 1;
  position: relative; }
  .heading-secondary--left {
    clip-path: polygon(0 0, 60% 0, 55% 100%, 0 100%);
    padding: 0.5rem 50% 0.5rem 0rem;
    margin: 1rem 0 6rem -5rem;
    text-align: right; }
    @media only screen and (max-width: 75em) {
      .heading-secondary--left {
        clip-path: polygon(0 0, 70% 0, 65% 100%, 0 100%);
        padding: 0.5rem 40% 0.5rem 0rem; } }
    @media only screen and (max-width: 56.25em) {
      .heading-secondary--left {
        clip-path: polygon(0 0, 80% 0, 75% 100%, 0 100%);
        padding: 0.5rem 30% 0.5rem 0rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-secondary--left {
        clip-path: polygon(0 0, 90% 0, 85% 100%, 0 100%);
        padding: 0.5rem 20% 0.5rem 0rem; } }
  .heading-secondary--right {
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 40% 100%);
    padding: 0.5rem 0rem 0.5rem 50%;
    margin: 1rem 0 3rem 5rem;
    text-align: left; }
    @media only screen and (max-width: 75em) {
      .heading-secondary--right {
        clip-path: polygon(35% 0, 100% 0, 100% 100%, 30% 100%);
        padding: 0.5rem 0rem 0.5rem 40%; } }
    @media only screen and (max-width: 56.25em) {
      .heading-secondary--right {
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 20% 100%);
        padding: 0.5rem 0rem 0.5rem 30%; } }
    @media only screen and (max-width: 37.5em) {
      .heading-secondary--right {
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 10% 100%);
        padding: 0.5rem 0rem 0.5rem 20%; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  font-size: 2rem;
  color: #319966;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #319966;
  padding: 0.3rem;
  transform: translate(-50%, -50%);
  transition: all 0.2s; }

.btn:hover {
  background-color: #319966;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px) translate(-50%, -50%); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0) translate(-50%, -50%); }

.btn-menu, .btn-menu:link, .btn-menu:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 2rem;
  width: 12rem;
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  color: #319966;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #319966 50%);
  background-size: 250%;
  transition: all 0.4s;
  border: none;
  cursor: pointer; }

.btn-menu:hover {
  background-position: 100%;
  color: #fff; }

.about__image-box {
  width: 20rem;
  height: 20rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto; }

.about__image {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto; }

.about__description {
  font-size: 1.6rem;
  line-height: 180%;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eee;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }
  @media only screen and (max-width: 37.5em) {
    .about__description {
      column-count: 1; } }

.feature-box {
  margin: 3rem 0 1.5rem 0;
  background-color: #fff;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #319966, #2d8159);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__button {
    margin: 0 auto;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    white-space: nowrap; }

.map-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#map {
  width: 100%;
  height: 100%;
  opacity: 0.8; }

.contact-box {
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: inset 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 3rem 3rem 3rem 5rem;
  border-radius: 0.3rem; }
  @media only screen and (max-width: 56.25em) {
    .contact-box {
      box-shadow: none;
      width: 100%;
      margin: 19rem auto 0 auto;
      text-align: center; } }
  .contact-box__text {
    display: block;
    font-size: 1.6rem; }
    .contact-box__text--name {
      font-weight: 700; }
  .contact-box__button:link, .contact-box__button:visited {
    text-decoration: none;
    color: #777;
    position: relative;
    transition: all 0.2s; }
  .contact-box__button:hover {
    border-bottom: 1px dotted #319966;
    color: #319966; }
  .contact-box__icon {
    position: absolute;
    left: -3rem;
    top: -0.3rem;
    font-size: 2rem;
    color: #319966; }

.button-to-top, .button-to-top:link, .button-to-top:visited {
  position: fixed;
  display: block;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 5rem;
  height: 5rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding-top: .5rem;
  font-size: 2.5rem;
  text-decoration: none;
  color: #319966;
  background-color: #fff;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  transition: all 1s; }

.button-to-top:hover {
  transform: translateY(0.2rem); }

.button-to-top:active, .button-to-top:focus {
  transform: translateY(0.3rem); }

.header {
  width: 100%;
  height: 95vh;
  background-color: transparent;
  position: relative;
  padding-top: 28vh;
  overflow-x: hidden; }
  .header__logo {
    display: block;
    margin: 0 auto;
    animation: fadeIn 1s ease-in; }
    @media only screen and (max-width: 75em) {
      .header__logo {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .header__logo {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .header__logo {
        width: 95%; } }
  .header__subtitle {
    margin: -6rem 0 3rem 0rem;
    padding: 0.5rem 0 0.5rem 38%;
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 31% 100%);
    text-transform: lowercase;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.3rem;
    font-size: 4rem;
    backface-visibility: hidden;
    animation: moveInRight 1.2s ease-in; }
    @media only screen and (max-width: 75em) {
      .header__subtitle {
        margin-top: -5rem;
        margin-left: 2rem;
        font-size: 3rem;
        padding: 0.3rem 0 0.3rem 31%;
        clip-path: polygon(28% 0, 100% 0, 100% 100%, 22% 100%); } }
    @media only screen and (max-width: 56.25em) {
      .header__subtitle {
        margin-top: -5rem;
        font-size: 2.5rem;
        padding: 0.2rem 0 0.2rem 27%;
        clip-path: polygon(23% 0, 100% 0, 100% 100%, 16% 100%); } }
    @media only screen and (max-width: 37.5em) {
      .header__subtitle {
        margin-top: -2.5rem;
        font-size: 1.7rem;
        padding: 0.15rem 0 0.15rem 26%;
        clip-path: polygon(21% 0, 100% 0, 100% 100%, 14% 100%); } }
  .header__button {
    position: relative;
    margin-top: 12vh;
    left: 50%;
    animation: fadeIn 1s ease-in; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.footer {
  text-align: right;
  margin-bottom: .5rem; }

.navigation__group {
  z-index: 10;
  position: fixed;
  right: 3rem;
  top: 0.5rem;
  list-style: none;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.75));
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in; }
  @media only screen and (max-width: 56.25em) {
    .navigation__group {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center; } }

.navigation__item {
  padding: 0.5rem;
  display: inline-block;
  margin: 0 2rem; }
  @media only screen and (max-width: 75em) {
    .navigation__item {
      padding: 0.5rem;
      margin: 0 1.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .navigation__item {
      padding: 0.4rem;
      margin: 0 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__item {
      padding: 0;
      margin: 0; } }

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.85)), url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1000; }

.section-about {
  margin-bottom: 5rem;
  max-width: 114rem;
  background-color: #fff;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  margin: 5rem auto;
  padding: 5rem;
  width: 100%; }

.section-features {
  margin-bottom: 5rem;
  max-width: 114rem;
  background-color: #fff;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  margin: 5rem auto;
  padding: 5rem;
  position: relative; }

.section-contact {
  margin-bottom: 5rem;
  max-width: 114rem;
  background-color: #fff;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  margin: 5rem auto;
  padding: 5rem;
  position: relative; }
