/// Default font size
$default-font-size: 1.6rem;

/// Colors
$color-primary: #319966;
$color-primary-dark: #2d8159;
$color-grey-dark: #777;
$color-grey-light: #eee;
$color-black: #000;
$color-white: #fff;

/// Grid
$grid-width: 114rem;
$gutter-vartical: 8rem;
$gutter-vartical-small: 6rem;
$gutter-horizontal: 6rem;
