.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba($color-white, .95), rgba($color-white, .85)),
    url(../img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1000;
}