.header {
  width: 100%;
  height: 95vh;
  background-color: transparent;
  position: relative;
  padding-top: 28vh;
  overflow-x: hidden;

  &__logo {
    display: block;
    margin: 0 auto;
    animation: fadeIn 1s ease-in;

    @include respond(tab-land) {
      width: 65%;
    }
    @include respond(tab-port) {
      width: 80%;
    }
    @include respond(phone) {
      width: 95%;
    }
  }

  &__subtitle {
    margin: -6rem 0 3rem 0rem;
    padding: 0.5rem 0 0.5rem 38%;
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 31% 100%);
    text-transform: lowercase;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.3rem;
    font-size: 4rem;
    backface-visibility: hidden;
    animation: moveInRight 1.2s ease-in;

    @include respond(tab-land) {
      margin-top: -5rem;
      margin-left: 2rem;
      font-size: 3rem;
      padding: 0.3rem 0 0.3rem 31%;
      clip-path: polygon(28% 0, 100% 0, 100% 100%, 22% 100%);
    }
    @include respond(tab-port) {
      margin-top: -5rem;
      font-size: 2.5rem;
      padding: 0.2rem 0 0.2rem 27%;
      clip-path: polygon(23% 0, 100% 0, 100% 100%, 16% 100%);
    }
    @include respond(phone) {
      margin-top: -2.5rem;
      font-size: 1.7rem;
      padding: 0.15rem 0 0.15rem 26%;
      clip-path: polygon(21% 0, 100% 0, 100% 100%, 14% 100%);
    }
  }

  &__button {
    position: relative;
    margin-top: 12vh;
    left: 50%;
    animation: fadeIn 1s ease-in;
  }
}
