.navigation {
  &__menu {
  }

  &__group {
    z-index: 10;
    position: fixed;
    right: 3rem;
    top: 0.5rem;
    list-style: none;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-white, 0.85),
      rgba($color-white, 0.75)
    );
    box-shadow: 0 1rem 1.5rem rgba($color-black, 0.1);
    animation: fadeIn 1s ease-in;

    @include respond(tab-port) {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
    }
  }

  &__item {
    padding: 0.5rem;
    display: inline-block;
    margin: 0 2rem;

    @include respond(tab-land) {
      padding: 0.5rem;
      margin: 0 1.5rem;
    }

    @include respond(tab-port) {
      padding: 0.4rem;
      margin: 0 1.5rem;
    }

    @include respond(phone) {
      padding: 0;
      margin: 0;
    }
  }
}
