.about {
  &__image-box {
    width: 20rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
  }

  &__image {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  &__description {
    font-size: 1.6rem;
    line-height: 180%;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light;

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    @include respond(phone) {
      column-count: 1;
    }
  }
}
