.button-to-top {
    &,
    &:link,
    &:visited {
        position: fixed;
        display: block;
        bottom: 1.5rem;
        right: 1.5rem;
        width: 5rem;
        height: 5rem;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        padding-top: .5rem;
        font-size: 2.5rem;
        text-decoration: none;
        color: $color-primary;
        background-color: $color-white;
        cursor: pointer;
        z-index: 100;
        opacity: 0;
        transition: all 1s;
    }

    &:hover {
        transform: translateY(.2rem);
    }

    &:active,
    &:focus {
        transform: translateY(.3rem);        
    }
}