.btn {
  &,
  &:link,
  &:visited {
    font-size: 2rem;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 0.3rem;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px) translate(-50%, -50%);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0) translate(-50%, -50%);
  }
}

.btn-menu {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 2rem;
    width: 12rem;
    display: inline-block;
    text-align: center;

    font-size: $default-font-size;
    color: $color-primary;

    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      $color-primary 50%
    );
    background-size: 250%;
    transition: all 0.4s;

    border: none;
    cursor: pointer;
  }

  &:hover {
    background-position: 100%;
    color: $color-white;
  }
}
