.contact-box {
  position: relative;
  z-index: 1;
  background-color: rgba($color-white, 1);
  box-shadow: inset 0 1rem 2rem rgba($color-black, 0.2);
  padding: 3rem 3rem 3rem 5rem;
  border-radius: 0.3rem;

  @include respond(tab-port) {
    box-shadow: none;
    width: 100%;
    margin: 19rem auto 0 auto;
    text-align: center;
  }

  &__text {
    display: block;
    font-size: 1.6rem;

    &--name {
      font-weight: 700;
    }
  }

  &__button {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-dark;
      position: relative;
      transition: all 0.2s;
    }

    &:hover {
      border-bottom: 1px dotted $color-primary;
      color: $color-primary;
    }

    &:active,
    &:focus {
    }
  }

  &__icon {
    position: absolute;
    left: -3rem;
    top: -0.3rem;
    font-size: 2rem;
    color: $color-primary;
  }
}
