body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  font-weight: 400;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  width: 100%;
  color: $color-white;
  text-transform: uppercase;
  background-color: $color-primary;
  z-index: 1;
  position: relative;
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 40% 100%);
  padding: 0.5rem 0rem 0.5rem 50%;
  margin: 1rem 0 3rem 5rem;
  text-align: left;
}

.heading-secondary {
  font-weight: 400;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  width: 100%;
  color: $color-white;
  text-transform: uppercase;
  background-color: $color-primary;
  z-index: 1;
  position: relative;

  &--left {
    clip-path: polygon(0 0, 60% 0, 55% 100%, 0 100%);
    padding: 0.5rem 50% 0.5rem 0rem;
    margin: 1rem 0 6rem -5rem;
    text-align: right;

    @include respond(tab-land) {
      clip-path: polygon(0 0, 70% 0, 65% 100%, 0 100%);
      padding: 0.5rem 40% 0.5rem 0rem;
    }
    @include respond(tab-port) {
      clip-path: polygon(0 0, 80% 0, 75% 100%, 0 100%);
      padding: 0.5rem 30% 0.5rem 0rem;
    }
    @include respond(phone) {
      clip-path: polygon(0 0, 90% 0, 85% 100%, 0 100%);
      padding: 0.5rem 20% 0.5rem 0rem;
    }
  }

  &--right {
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 40% 100%);
    padding: 0.5rem 0rem 0.5rem 50%;
    margin: 1rem 0 3rem 5rem;
    text-align: left;

    @include respond(tab-land) {
      clip-path: polygon(35% 0, 100% 0, 100% 100%, 30% 100%);
      padding: 0.5rem 0rem 0.5rem 40%;
    }
    @include respond(tab-port) {
      clip-path: polygon(25% 0, 100% 0, 100% 100%, 20% 100%);
      padding: 0.5rem 0rem 0.5rem 30%;
    }
    @include respond(phone) {
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 10% 100%);
      padding: 0.5rem 0rem 0.5rem 20%;
    }
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
