.section-about {
    margin-bottom: 5rem;
    max-width: $grid-width;
    background-color: $color-white;
    box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
    margin: 5rem auto;
    padding: 5rem;
    width: 100%;
}

.section-features {
    margin-bottom: 5rem;
    max-width: $grid-width;
    background-color: $color-white;
    box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
    margin: 5rem auto;
    padding: 5rem;
    position: relative;
}

.section-contact {
    margin-bottom: 5rem;
    max-width: $grid-width;
    background-color: $color-white;
    box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
    margin: 5rem auto;
    padding: 5rem;
    position: relative;
}